Repository kawafuchieirin/personal-growth-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, prettier

.pre-commit-config.yaml:

repos:
  # General
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key

  # Python - Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.0
    hooks:
      - id: ruff
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Python - Type checking (using local poetry)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        files: ^backend/app/
        pass_filenames: false
        args: [app]

  # Frontend - ESLint & Prettier
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: npm run lint --prefix frontend --
        language: system
        files: ^frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: npm run format:check --prefix frontend --
        language: system
        files: ^frontend/src/.*\.(ts|tsx|css)$
        pass_filenames: false

  # Terraform
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.86.0
    hooks:
      - id: terraform_fmt
      - id: terraform_validate
      - id: terraform_tflint
        args:
          - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl

Slack通知を追加
  .claude/scripts/notify-slack.sh
  .claude/settings.json
  CLAUDE.md
Due: none

削除
  .gitignore
Due: none

通知を追加
  .claude/scripts/notify-slack.sh
  .claude/settings.json
  backend/app/config.py
  backend/app/main.py
  backend/app/services/dynamodb.py
  docker-compose.yml
  infrastructure/environments/dev/main.tf
  infrastructure/environments/prod/main.tf
  infrastructure/main.tf
  infrastructure/modules/api-gateway/main.tf
  infrastructure/modules/cloudfront/main.tf
  infrastructure/modules/dynamodb/main.tf
  infrastructure/modules/lambda/main.tf
  infrastructure/variables.tf
Due: mypy

ci修正
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  backend/apis/goals/tests/api_handler_test.py
  backend/apis/goals/tests/conftest.py
  backend/apis/goals/tests/main_params_compat_test.py
  backend/apis/roadmaps/tests/api_handler_test.py
  backend/apis/roadmaps/tests/conftest.py
  backend/apis/roadmaps/tests/main_params_compat_test.py
  backend/apis/skills/tests/api_handler_test.py
  backend/apis/skills/tests/conftest.py
  backend/apis/skills/tests/main_params_compat_test.py
  backend/pyproject.toml
Due: none

fix: CI/CDワークフローのパスとPoetry設定を修正
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  backend/pyproject.toml
Due: none

fix: Backend lintエラーとFrontend test設定を修正
  backend/apis/goals/api_handler.py
  backend/apis/goals/client.py
  backend/apis/goals/generate_specification.py
  backend/apis/goals/main.py
  backend/apis/goals/models.py
  backend/apis/goals/tests/api_handler_test.py
  backend/apis/goals/tests/client_test.py
  backend/apis/goals/tests/main_params_compat_test.py
  backend/apis/goals/tests/models_test.py
  backend/apis/roadmaps/api_handler.py
  backend/apis/roadmaps/client.py
  backend/apis/roadmaps/generate_specification.py
  backend/apis/roadmaps/main.py
  backend/apis/roadmaps/models.py
  backend/apis/roadmaps/tests/api_handler_test.py
  backend/apis/roadmaps/tests/client_test.py
  backend/apis/roadmaps/tests/main_params_compat_test.py
  backend/apis/roadmaps/tests/models_test.py
  backend/apis/skills/api_handler.py
  backend/apis/skills/client.py
  backend/apis/skills/generate_specification.py
  backend/apis/skills/main.py
  backend/apis/skills/tests/api_handler_test.py
  backend/apis/skills/tests/client_test.py
  backend/apis/skills/tests/main_params_compat_test.py
  backend/apis/skills/tests/models_test.py
  frontend/package.json
  frontend/vite.config.ts
Due: none

fix: Frontend test設定とBackend mypy設定を修正
  backend/apis/goals/generate_specification.py
  backend/apis/goals/main.py
  backend/apis/roadmaps/generate_specification.py
  backend/apis/roadmaps/main.py
  backend/apis/skills/generate_specification.py
  backend/apis/skills/main.py
  backend/pyproject.toml
  frontend/vite.config.ts
Due: none

fix: mypyでtestsフォルダを完全に除外
  backend/pyproject.toml
Due: none

fix: Backend CI テスト実行パスを修正
  .github/workflows/ci.yml
Due: none

ci-fix
  Makefile
Due: none

fix: Poetry設定でpackage-modeをfalseに変更
  backend/apis/goals/pyproject.toml
  backend/apis/roadmaps/pyproject.toml
  backend/apis/skills/pyproject.toml
Due: none

docs: CloudFront URLをREADMEに追加
  README.md
Due: none

style: Terraform fmtでインフラコードをフォーマット
  backend/apis/goals/terraform/main.tf
  backend/apis/roadmaps/terraform/main.tf
  backend/apis/skills/terraform/main.tf
Due: none

perf: CI実行回数を削減
  .github/workflows/ci.yml
Due: none

feat: FeatureNavコンポーネントを追加
  frontend/src/components/common/FeatureNav/FeatureNav.module.css
  frontend/src/components/common/FeatureNav/FeatureNav.tsx
  frontend/src/components/common/FeatureNav/index.ts
  frontend/src/components/common/index.ts
Due: eslint, prettier

feat: GitHub Actions OIDC認証を追加
  .github/workflows/deploy.yml
  infrastructure/main.tf
  infrastructure/modules/github-oidc/main.tf
  infrastructure/modules/github-oidc/outputs.tf
  infrastructure/modules/github-oidc/variables.tf
Due: none

fix: 既存のOIDCプロバイダーを参照するように変更
  infrastructure/modules/github-oidc/main.tf
  infrastructure/modules/github-oidc/outputs.tf
Due: none

fix: S3バケット名をpgt-frontendに修正
  .github/workflows/deploy.yml
  infrastructure/modules/github-oidc/main.tf
Due: none

refactor: ユーザー機能を削除（個人専用アプリ化）
  frontend/src/components/layout/Header/Header.tsx
  frontend/src/contexts/UserContext.tsx
  frontend/src/contexts/index.ts
  frontend/src/hooks/useGoals.ts
  frontend/src/hooks/useSkills.ts
  frontend/src/main.tsx
  frontend/src/services/goalsService.ts
  frontend/src/services/skillsService.ts
Due: eslint, prettier

fix: API Gateway URLを正しく設定
  frontend/src/services/api.ts
Due: eslint, prettier

fix: フロントエンドとバックエンドのAPI仕様を整合
  frontend/src/services/goalsService.ts
  frontend/src/services/roadmapsService.ts
  frontend/src/services/skillsService.ts
Due: eslint, prettier

docs: README.mdのプロジェクト構成を実態に合わせて更新
  README.md
Due: none
